[Unit]
Description=Weekly update of Pi-hole's lists

[Timer]
RandomizedDelaySec=60m
OnCalendar=Sat *-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
